.board {
  width: 314px;
  height: 375.5px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-top: solid 4px #fff;
  border-left: solid 4px #fff;
  border-right: solid 4px #888;
  border-bottom: solid 4px #888;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64vmin;
  max-width: 640px;
  background-color: #ccc;
  padding: min(12px, 0.8vmin);
  border-top: solid 6px #888;
  border-left: solid 6px #888;
  border-right: solid 6px #fff;
  border-bottom: solid 6px #fff;
}

.bombcount {
  width: 30px;
  height: 30px;
}

.reset-button {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 1400%;
  background-position-x: 300%;
  padding: 0;
  margin: 0 auto;
  background-color: #ccc;
  background-image: url('../../assets/image/icons.png');
  outline: solid 1px #888;
  border-top: solid 4px #fff;
  border-left: solid 4px #fff;
  border-right: solid 4px #888;
  border-bottom: solid 4px #888;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  width: 306px;
  height: 306px;
  background-color: #c6c6c6;
  border: 18px ridge;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  border: 1px solid #808080;
}

.tile {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  float: left;
  background: url('../../assets/image/icons.png');
}

.stone {
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  position: absolute;
  inset: 0;
  user-select: none;
  border-top: solid 4px #fff;
  border-left: solid 4px #fff;
  border-right: solid 4px #868686;
  border-bottom: solid 4px #868686;
}

.flag {
  height: 136%;
  width: 136%;
  margin: -4px 2px 2px -2px;
  float: left;
  background: url('../../assets/image/icons.png');
}
